<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="Online Sudoku Solver">
        <classes>
            <class name="com.youvegotnigel.sudoku.SudokuTest">
                <methods>
                    <include name="PuzzleTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>