<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Online Sudoku Solver" parallel="methods" thread-count="4">
    <test name="All Puzzle Levels">
        <classes>
            <class name="com.youvegotnigel.sudoku.SudokuTest">
                <methods>
                    <include name="EasyPuzzleTest"/>
                    <include name="MediumPuzzleTest"/>
                    <include name="HardPuzzleTest"/>
                    <include name="EvilPuzzleTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>